@model PrograWebProyecto.Models.Cargo

@{
    ViewData["Title"] = "Create";
}

<h1>Añadir un cargo</h1>


<hr />
<div class="row">



    <div class="col-md-4">

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreCargo" class="control-label"></label>
                <input asp-for="NombreCargo" class="form-control" />
                <span asp-validation-for="NombreCargo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>


    </div>
</div>

<div>
    <a class="btn btn-danger" asp-action="Index">Volver Atras</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
