@model PrograWebProyecto.Models.Cargo

@{
    ViewData["Title"] = "Delete";
}

<h1>Borrar Cargo</h1>

<h3>Estas seguro que deseas borrar esto?</h3>
<div>
    <h4>Cargo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCargo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreCargo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a class="btn btn-danger" asp-action="Index">Volver Atras</a>
    </form>
</div>
